.Screen1{
    
background-color: #FFFFFF !important;
overflow-y: scroll !important;
scrollbar-width: none !important;
-ms-overflow-style: none !important;
}
.layer-1-59280e46d044471282b27ad8ac484bc0{
    

box-shadow: 0px 0px 0px #FFFFFF !important;overflow-y: scroll !important;
scrollbar-width: none !important;
-ms-overflow-style: none !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;min-height: 100px !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.layer-2-8dfbb73d7226432db31373ba652c6694{
    
--verticalAxis: center;
--horizontalAxis: center;

box-shadow: 0px 0px 0px #FFFFFF !important;background-repeat: no-repeat !important;
background-size: cover !important;
background-position: center !important;
background-image: url('/_next/image?url=%2Fassets%2FRockstartBanner.jpeg&w=3840&q=75') !important;
height: fit-content !important;min-height:  unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;flex-direction: var(--orientation) !important; 
padding-left: var(--SidePadding) !important; 
padding-right: var(--SidePadding) !important; 
padding-top: var(--verticalPadding) !important; 
padding-bottom: var(--verticalPadding) !important; 
}
.layer-35-7e0570b7725d422ea2777c82371d3898{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;

}
.imageview-6-ebd0f881adb94392b590270a09231a11{
    
height: 100px !important;min-height: 100px !important;
width: 250px !important;min-width: 250px !important;
}
.imageview-7-737c5d18426040a3909a8d11814e7737{
    
height: 100px !important;min-height: 100px !important;
width: 250px !important;min-width: 250px !important;
}
.layer-37-b09a965ca8d94a19ac90457cd8a46dd7{
    

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;
width: 300px !important;min-width: 300px !important;
}
.text-19-3f65c15de3c14b65bcf3a1963533dbe1{
     text-align: center !important;
font-family: var(--IBMPlexSans_Light);
font-weight: normal !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;background: var(--color1) !important; 
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;
margin-bottom: var(--verticalMargin) !important; 
font-family: var(--fontLight) !important; 
font-size: var(--paragraphSize) !important; 
}
.text-20-6d234245245f482f8f06fed307d4cf0f{
     text-align: center !important;
font-family: var(--IBMPlexSans_Light);
font-weight: normal !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;background: var(--color1) !important; 
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;
font-family: var(--fontLight) !important; 
font-size: var(--paragraphSize) !important; 
}
.layer-36-27c3a96c0b2742feba403d8afa9465f4{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;

}
.layer-55-67de5c026b5d40a3b7066da3106db730{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;margin-bottom: var(--verticalMargin) !important; 
}
.text-21-13f04b0293ef455eacc2cc67a4a7bebe{
     

font-weight: normal !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;background: var(--color1) !important; 
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;
font-size: var(--Title2) !important; 
}
.text-24-ff1cc7de869f429bb0bb99bf68b4dabc{
     

font-weight: normal !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;background: var(--color1) !important; 
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;
font-size: var(--paragraphSize) !important; 
}
.layer-38-56c65f0fa6b14c62b1865bc99b92af15{
    
box-shadow: 0px 0px 0px #FFFFFF !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;background: var(--color2) !important; 
margin-bottom: var(--verticalMargin) !important; 
padding-top: var(--buttonPaddingV) !important; 
padding-bottom: var(--buttonPaddingV) !important; 
padding-left: var(--buttonPaddingH) !important; 
padding-right: var(--buttonPaddingH) !important; 
border-radius: var(--buttonRadious) !important; 
}
.text-23-6ebb1cf6ea2640aa9209f9cb29ef2f69{
     

font-weight: normal !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;background: var(--color1) !important; 
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;
font-size: var(--paragraphSize) !important; 
}
.text-22-9db5959de3ec41a4bbde7a52a836e68f{
     

font-weight: normal !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;background: var(--color1) !important; 
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;
font-size: var(--paragraphSize) !important; 
}
.layer-3-f8ba8ca1ec86493ab2c71e4cd63f2b92{
    
--verticalAxis: center;
--horizontalAxis: center;

box-shadow: 0px 0px 0px #FFFFFF !important;
height: fit-content !important;min-height:  unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;background: var(--color3) !important; 
flex-direction: var(--orientation) !important; 
padding-left: var(--SidePadding) !important; 
padding-right: var(--SidePadding) !important; 
padding-top: var(--verticalPadding) !important; 
padding-bottom: var(--verticalPadding) !important; 
}
.layer-10-fc65530f864645bb9313f6d7892c5e36{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;

}
.layer-39-a507fc58777b4881adcbec406194b751{
    

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;margin-bottom: var(--verticalMargin) !important; 
}
.text-25-75557675d372400db731b738d085cf95{
     text-align: center !important;

font-weight: bold !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;background: var(--color2) !important; 
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;
font-size: var(--Title) !important; 
}
.layer-40-5633bf4bc9c54d0faba9a18042f393b7{
    

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.text-26-bc2e4ae7b4014cca93735f92dfb1afdc{
     text-align: center !important;
font-family: var(--IBMPlexSans_Light);
font-weight: normal !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-family: var(--fontLight) !important; 
font-size: var(--paragraphSize) !important; 
}
.layer-11-75937f71d65c4449b773a9e6494137c1{
    
justify-content: flex-end !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;

}
.imageview-8-f8866edafef349cdac002ebf0f3f3d6b{
    width: var(--beneficiosH) !important; 
min-width: var(--beneficiosH) !important; 
height: var(--beneficiosV) !important; 
min-height: var(--beneficiosV) !important; 
}
.layer-4-df0b250d89e249f5a1a7dd29d008d8d9{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
height: fit-content !important;min-height:  unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;background: var(--color2) !important; 
padding-left: var(--SidePadding) !important; 
padding-right: var(--SidePadding) !important; 
padding-top: var(--verticalPadding) !important; 
padding-bottom: var(--verticalPadding) !important; 
}
.layer-41-9f0e7126f8284e4aa39c6d94bdf341d1{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;
}
.text-1-bbbb683caac74819b80c940aa6904ef8{
     text-align: center !important;

font-weight: bold !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;background: var(--color1) !important; 
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;
font-size: var(--Title) !important; 
}
.layer-5-bf2b2ba449d144e495e1f165153de6b0{
    

box-shadow: 0px 0px 0px #FFFFFF !important;
height: fit-content !important;min-height:  unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;background: var(--color3) !important; 
padding-left: var(--SidePadding) !important; 
padding-right: var(--SidePadding) !important; 
padding-top: var(--verticalPadding) !important; 
padding-bottom: var(--verticalPadding) !important; 
}
.layer-12-283d4a13045240cd85110d9e4e0d9689{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
flex: 1 1 50% !important;height: 0px !important;min-height: 0px !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;margin-bottom: var(--verticalMargin) !important; 
}
.text-27-889a01125e1c4896a830cc641f363599{
     

font-weight: bold !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;background: var(--color2) !important; 
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;
margin-bottom: var(--verticalMargin) !important; 
font-size: var(--Title) !important; 
}
.layer-42-37a4f18052384f059e199213fa1358b9{
    

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;
}
.text-28-93aa96cfdc62425e8301ed9178249115{
     text-align: center !important;

font-weight: normal !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-size: var(--paragraphSize) !important; 
}
.layer-13-06f52d7b242e4b51835571470ddf1c49{
    

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;flex-direction: var(--orientation) !important; 
}
.layer-43-f95248e09dd549f288ac58721ada6bef{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;
margin-bottom: var(--mobileVerticalMarging) !important; 
}
.text-28-2f1d77e9fbda41ee8f97ac5e79e1ee25{
     text-align: center !important;

font-weight: bold !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;background: var(--color2) !important; 
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;
margin-bottom: var(--verticalMargin) !important; 
font-size: var(--Title2) !important; 
}
.text-29-7e771069014e46d7bca4321be55c9ab6{
     text-align: center !important;
font-family: var(--IBMPlexSans_Light);
font-weight: normal !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-family: var(--fontLight) !important; 
font-size: var(--paragraphSize) !important; 
}
.layer-44-aa5df0b6eaa5487082bd99163e1afaaa{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;
margin-bottom: var(--mobileVerticalMarging) !important; 
}
.text-30-64fa0cf8f2e24c95ace543fe53b6cefa{
     text-align: center !important;

font-weight: bold !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;background: var(--color2) !important; 
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;
margin-bottom: var(--verticalMargin) !important; 
font-size: var(--Title2) !important; 
}
.text-31-152ca4f13e2a4a56b16753bd1b31cda4{
     text-align: center !important;

font-weight: normal !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-size: var(--paragraphSize) !important; 
}
.layer-45-992ba95b355a493490b858a7bdd142e9{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;
margin-bottom: var(--mobileVerticalMarging) !important; 
}
.text-32-94192e2299b545c68f64fd9f0730b4be{
     

font-weight: bold !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;background: var(--color2) !important; 
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;
margin-bottom: var(--verticalMargin) !important; 
font-size: var(--Title2) !important; 
}
.text-33-414e8fa26e264c4b8e2c37ac99456f20{
     text-align: center !important;

font-weight: normal !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-size: var(--paragraphSize) !important; 
}
.layer-6-45f042c7ce0d4d47b9a22a59c1a434eb{
    

box-shadow: 0px 0px 0px #FFFFFF !important;
height: fit-content !important;min-height:  unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;background: var(--color4) !important; 
padding-left: var(--SidePadding) !important; 
padding-right: var(--SidePadding) !important; 
padding-top: var(--verticalPadding) !important; 
padding-bottom: var(--verticalPadding) !important; 
}
.layer-14-ac0f03a544f246f7a01e42ac5643b4ac{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;margin-bottom: var(--verticalMargin) !important; 
}
.text-53-6a24ad03655c454ca2f486de92081f77{
     
font-family: var(--IBMPlexSans_Bold);
font-weight: bold !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-size: var(--Title) !important; 
}
.layer-15-6960631e349c4adb9960d41790f8853c{
    

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
flex: 1 1 50% !important;height: 0px !important;min-height: 0px !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;flex-direction: var(--orientation) !important; 
}
.layer-26-1ed9127d00c245b38b4bc615f01c80fd{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;
margin-bottom: var(--mobileVerticalMarging) !important; 
}
.layer-27-c2c391a2158b4204b023e03e1c2e2114{
    

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;
}
.imageview-2-a8c7cb8068844592a057aacf8f005a22{
    
height: 90px !important;min-height: 90px !important;
width: 115px !important;min-width: 115px !important;margin-bottom: var(--verticalMargin) !important; 
}
.layer-26-619236003ff3490f8add29acf754ce6a{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;
width: 300px !important;min-width: 300px !important;
}
.text-13-cff975e751114fd1a7485a669b8d375e{
     

font-weight: bold !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;margin-bottom: var(--verticalMargin) !important; 
font-size: var(--Title2) !important; 
}
.text-12-e7c7b100b9684fc39dbb0baad029518b{
     text-align: center !important;

font-weight: normal !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-size: var(--paragraphSize) !important; 
}
.layer-28-6952c296294742eb853ce73a19190ae1{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;
margin-bottom: var(--mobileVerticalMarging) !important; 
}
.layer-29-1a49adeb3ee94f7887da4f1ac43b1983{
    

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;
}
.imageview-3-68f03ccfab4f412cb7a7bf3fff0a599b{
    
height: 90px !important;min-height: 90px !important;
width: 115px !important;min-width: 115px !important;margin-bottom: var(--verticalMargin) !important; 
}
.layer-30-d43fa99322294a79912bcf9ad6545460{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;
width: 300px !important;min-width: 300px !important;
}
.text-14-d35caae90bc241f89c2e62734346344d{
     

font-weight: bold !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;margin-bottom: var(--verticalMargin) !important; 
margin-top: var(--none) !important; 
font-size: var(--Title2) !important; 
}
.text-15-e223778019884692ab0a6c8e5aecbf4f{
     text-align: center !important;
font-family: var(--IBMPlexSans_Regular);
font-weight: normal !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;margin-top: var(--none) !important; 
font-size: var(--paragraphSize) !important; 
}
.layer-31-d9e59801864c4393a3b43066132c41c7{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;

}
.layer-32-9448c72a69c74fb793bf5c5a2deda67c{
    

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;
}
.layer-34-5c2f6897dda64150b9dd2499cae27a88{
    

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;
}
.imageview-4-68d10620d3514f09bdbaacfbd5a7e8dd{
    
height: 90px !important;min-height: 90px !important;
width: 115px !important;min-width: 115px !important;margin-bottom: var(--verticalMargin) !important; 
}
.layer-33-eabd6d963c76434884411a5202c8f772{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;
width: 300px !important;min-width: 300px !important;
}
.text-16-d5c4a7598f3246e5a7dca7ef27a7818c{
     

font-weight: bold !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;margin-bottom: var(--verticalMargin) !important; 
font-size: var(--Title2) !important; 
}
.text-17-863ef3f8f7b74c55956995cdc1deca9c{
     text-align: center !important;

font-weight: normal !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-size: var(--paragraphSize) !important; 
}
.layer-7-98fab80382174f7fa8bf3e7feffb9502{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
height: fit-content !important;min-height:  unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;background: var(--color2) !important; 
padding-left: var(--SidePadding) !important; 
padding-right: var(--SidePadding) !important; 
padding-top: var(--verticalPadding) !important; 
padding-bottom: var(--verticalPadding) !important; 
}
.text-2-1bea13c6d3314309b68a8ea5e4ed5936{
     text-align: center !important;

font-weight: bold !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;background: var(--color1) !important; 
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;
font-size: var(--Title) !important; 
}
.text-3-b974d204d14345f9b751b1805c248612{
     text-align: center !important;

font-weight: normal !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;background: var(--color1) !important; 
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;
font-size: var(--Title2) !important; 
}
.layer-8-7d095a7dbc174710a9fd423cda627edb{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
height: fit-content !important;min-height:  unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;background: var(--color3) !important; 
padding-left: var(--SidePadding) !important; 
padding-right: var(--SidePadding) !important; 
padding-top: var(--verticalPadding) !important; 
padding-bottom: var(--verticalPadding) !important; 
}
.text-5-d23bc3b88d9e499f815bd289973ff88a{
     

font-weight: bold !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;background: var(--color2) !important; 
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;
margin-bottom: var(--verticalMargin) !important; 
font-size: var(--Title) !important; 
}
.layer-18-8348d5ab5eed4b05800c372c97b56608{
    

box-shadow: 0px 0px 0px #FFFFFF !important;background-repeat: no-repeat !important;
background-size: cover !important;
background-position: center !important;
background-image: url('/_next/image?url=%2Fassets%2FTImeline.jpeg&w=3840&q=75') !important;
--margin-bottom: var(--verticalMargin);
margin-bottom: var(--margin-bottom) !important;
height: var(--timelineV) !important; 
min-height: var(--timelineV) !important; 
width: var(--timelineH) !important; 
min-width: var(--timelineH) !important; 
}
.layer-19-aca0c1bad24e47b4bb11fc469d95605f{
    
justify-content: center !important;
align-items: center !important;
box-shadow: 0px 0px 0px #FFFFFF !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;background: var(--color2) !important; 
margin-bottom: var(--verticalMargin) !important; 
padding-top: var(--buttonPaddingV) !important; 
padding-bottom: var(--buttonPaddingV) !important; 
padding-left: var(--buttonPaddingH) !important; 
padding-right: var(--buttonPaddingH) !important; 
border-radius: var(--buttonRadious) !important; 
}
.text-8-3c738323297043c3bf08416d5a3bd35f{
     

font-weight: normal !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;background: var(--color1) !important; 
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;
font-size: var(--paragraphSize) !important; 
}
.text-53-e8c33b024efc4093a0f28347ac0d7ff2{
     text-align: center !important;

font-weight: bold !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;background: var(--color2) !important; 
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;
margin-bottom: var(--verticalMargin) !important; 
font-size: var(--Title) !important; 
}
.text-6-dd0ae8b5441f4391b7b98fc292b7c4b8{
     text-align: center !important;

font-weight: normal !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;margin-bottom: var(--verticalMargin) !important; 
font-size: var(--paragraphSize) !important; 
}
.layer-20-a6d4b4d00cf54088898231b89a01c1bd{
    

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
flex: 1 1 50% !important;height: 0px !important;min-height: 0px !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;margin-bottom: var(--verticalMargin) !important; 
}
.layer-21-e76eb8ae3a324cfa9d7bb384f57523fb{
    

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;flex-direction: var(--orientation) !important; 
margin-bottom: var(--verticalMargin) !important; 
}
.layer-24-1feb88816a914247b1865c520045edea{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;
margin-bottom: var(--mobileVerticalMarging) !important; 
}
.imageview-1-0e0214e1dfcb4729b3360b5de52593ea{
    width: var(--mentorImage) !important; 
min-width: var(--mentorImage) !important; 
height: var(--mentorImage) !important; 
min-height: var(--mentorImage) !important; 
}
.text-9-10eef9df6bc4487396d1000ccb871e29{
     

font-weight: bold !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-size: var(--paragraphSize) !important; 
}
.text-10-dfda71e522bc4c0d83fcbacb3ad9bf98{
     

font-weight: normal !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-size: var(--paragraphSize) !important; 
}
.layer-46-10896f7295e14955b2e8ad8cac777cff{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;
margin-bottom: var(--mobileVerticalMarging) !important; 
}
.imageview-9-63474972fc264dd3bb1cf3faef5df37c{
    width: var(--mentorImage) !important; 
min-width: var(--mentorImage) !important; 
height: var(--mentorImage) !important; 
min-height: var(--mentorImage) !important; 
}
.text-34-f29ae6f98fb34d1cb9910e9997144ae0{
     

font-weight: bold !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-size: var(--paragraphSize) !important; 
}
.text-35-cf877dce20fb4564b48197876d22c6f4{
     

font-weight: normal !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-size: var(--paragraphSize) !important; 
}
.layer-47-3680d098f9f345ee8e60003fa83926dd{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;
margin-bottom: var(--mobileVerticalMarging) !important; 
}
.imageview-10-ef0d213c91d54e0b8eea6146b7b22bfe{
    width: var(--mentorImage) !important; 
min-width: var(--mentorImage) !important; 
height: var(--mentorImage) !important; 
min-height: var(--mentorImage) !important; 
}
.text-36-f60c7ec930644f72b18d9ff371c3352b{
     

font-weight: bold !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-size: var(--paragraphSize) !important; 
}
.text-37-22d9b0f824b344cd84a96f9c9ee1fc62{
     

font-weight: normal !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-size: var(--paragraphSize) !important; 
}
.layer-48-e8f2a65a92d449ae851679782fd19cf4{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;

}
.imageview-11-7ee9577e473945f58222ad7c78500cc4{
    height: var(--mentorImage) !important; 
min-height: var(--mentorImage) !important; 
width: var(--mentorImage) !important; 
min-width: var(--mentorImage) !important; 
}
.text-38-3bf922eb058f43069b51df08824079ef{
     

font-weight: bold !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-size: var(--paragraphSize) !important; 
}
.text-39-d9819f3db8d0481ebc6d98d848f74822{
     

font-weight: normal !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-size: var(--paragraphSize) !important; 
}
.layer-22-461c9bb7f49c4a8c9c884c33800629a5{
    

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;flex-direction: var(--orientation) !important; 
margin-bottom: var(--verticalMargin) !important; 
}
.layer-49-cbc82994b8594322acc164417d70ea9d{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;
margin-bottom: var(--mobileVerticalMarging) !important; 
}
.imageview-12-ed3ccc9fd1b74532b63647588949ced0{
    width: var(--mentorImage) !important; 
min-width: var(--mentorImage) !important; 
height: var(--mentorImage) !important; 
min-height: var(--mentorImage) !important; 
}
.text-40-6fcf21c64f1143e1b16b2f294b7b9cc3{
     

font-weight: bold !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-size: var(--paragraphSize) !important; 
}
.text-41-a0a94006ad904285a9c4e9a464838421{
     text-align: center !important;

font-weight: normal !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-size: var(--paragraphSize) !important; 
}
.layer-50-f9148800a9cc48f69628ace845289e18{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;
margin-bottom: var(--mobileVerticalMarging) !important; 
}
.imageview-13-3dda700f281044e8879b9c56fe04f159{
    
width: 115px !important;min-width: 115px !important;height: var(--mentorImage) !important; 
min-height: var(--mentorImage) !important; 
}
.text-42-98d8a93acbe248cfb4e54b92bc715414{
     

font-weight: bold !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-size: var(--paragraphSize) !important; 
}
.text-43-cb823b3ea1f54a4d97fa7cd328133a24{
     text-align: center !important;

font-weight: normal !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-size: var(--paragraphSize) !important; 
}
.layer-51-d205bb52337e4fdda67d32e8c94d30aa{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;
margin-bottom: var(--mobileVerticalMarging) !important; 
}
.imageview-14-31248221a34a42efa913fea1c3df88cc{
    
width: 115px !important;min-width: 115px !important;height: var(--mentorImage) !important; 
min-height: var(--mentorImage) !important; 
}
.text-44-1783c857db0341d1b92c49dcb1c6f8ee{
     

font-weight: bold !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-size: var(--paragraphSize) !important; 
}
.text-45-93381ae6e6884ddf8c0df0efec170f3f{
     


font-weight: normal !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;
}
.layer-52-7514801fface413394a38bb6887cf5d9{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;

}
.imageview-15-766338448ca941139581597222b4718a{
    height: var(--mentorImage) !important; 
min-height: var(--mentorImage) !important; 
width: var(--mentorImage) !important; 
min-width: var(--mentorImage) !important; 
}
.text-46-80899fbc4a234b70890c3eb5072131b2{
     

font-weight: bold !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-size: var(--paragraphSize) !important; 
}
.text-47-74dec2e560894bc292c3ad33cae2d99a{
     

font-weight: normal !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-size: var(--paragraphSize) !important; 
}
.layer-23-2f4861812fcd4714b417520d026543d7{
    
justify-content: center !important;
align-items: center !important;
box-shadow: 0px 0px 0px #FFFFFF !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;background: var(--color2) !important; 
padding-top: var(--buttonPaddingV) !important; 
padding-bottom: var(--buttonPaddingV) !important; 
padding-left: var(--buttonPaddingH) !important; 
padding-right: var(--buttonPaddingH) !important; 
border-radius: var(--buttonRadious) !important; 
}
.text-7-9c8deb80c1ca46f3ad04f6edb910f1ac{
     

font-weight: normal !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;background: var(--color1) !important; 
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;
font-size: var(--paragraphSize) !important; 
}
.layer-9-efc53d14a8d04fd1aec82f7f3a2bb383{
    
--verticalAxis: center;

box-shadow: 0px 0px 0px #FFFFFF !important;
padding-bottom: 60px !important;
box-sizing: border-box !important;
height: fit-content !important;min-height:  unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;background: var(--color5) !important; 
flex-direction: var(--orientation) !important; 
padding-left: var(--SidePadding) !important; 
padding-right: var(--SidePadding) !important; 
}
.layer-16-7bca4a07ffbe4aabaa6f1672fb7103cb{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;

}
.imageview-5-69f9f7b4192d40e199b320b456539b46{
    
height: 100px !important;min-height: 100px !important;
width: 250px !important;min-width: 250px !important;
}
.layer-17-4b1be2602dde41e180f2ab80a87bc80c{
    
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;

}
.layer-53-51f06770d2bf424c96cf1abe9f7bdaa1{
    flex-direction: row !important;
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.text-48-2ca3b6dca59f40929c79adba4cf553f1{
     


font-weight: normal !important;

margin-right: 1vw !important;
box-sizing: border-box !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;background: var(--color1) !important; 
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;
}
.text-49-a383a7cf040746728cb5ae4e96cf38d4{
     


font-weight: normal !important;

margin-right: 1vw !important;
box-sizing: border-box !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;background: var(--color1) !important; 
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;
}
.text-50-a096bfbe365f480ba82485ce42cd47b3{
     


font-weight: normal !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;background: var(--color1) !important; 
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;
}
.layer-54-cd32540e55224ee39ce30afba5899bd5{
    flex-direction: row !important;
justify-content: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: fit-content !important;min-height:  unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.text-51-8dac462a23ee4034aca8b95e7c01479b{
     


font-weight: normal !important;

margin-right: 1vw !important;
box-sizing: border-box !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;background: var(--color1) !important; 
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;
}
.text-52-9c814df61ecb4ddfa80842a6ba4b8504{
     


font-weight: normal !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;background: var(--color1) !important; 
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;
}
